<html>
	<head>
		<meta charset="utf-8" />
  		<link rel="stylesheet" type="text/css" href="block.css"/>
	</head>
	<body>
		<div id="inscription">
    		<form method="post" action="formulaire">
 				<fieldset>
  					<legend>Nouvelle formation</legend>

  					<label for="date">Date :</label>
  					<input type="date" name="date" value="2018-01-01"><br>

  					<label for="formateur">Formateur :</label>
  					<input type="text" name="formateur" value="Formateur"><br>

  					<label for="volume">Volume :</label>
  					<input type="number" name="volume" value="1"><br>

            <input type="submit" value="Envoyer">
 				</fieldset>
			</form>
		</div><!-- INSCRIPTION -->
	</body>
	<input type="button" value="Retour" onclick="document.location.href='/';">


</html>
